<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
  <test name="seleniumdemo1701">
    <classes>
      <class name="Browerdemo.openchrome">
      </class>
    </classes>
  </test> <!-- webdriver_demo -->
  
</suite> <!-- Default Suite -->